
<h2><strong>Packages</strong></h2>
<ul>
  <li>Data Cleaning/Manipulation
    <ul>
    <li>tidyverse</li>
    <li>purrr</li>
    </ul>
  </li>
  <li>UI
   <ul>
    <li>shiny</li>
    <li>shinydashboard</li>
    <li>shinycssloaders</li>
    <li>shinydashboardPlus</li>
    <li>shinyWidgets</li>
    </ul>
  </li>
  <li>Mapping & Data Visualization
   <ul>
     <li>rgdal</li>
     <li>leaflet</li>
     <li>highcharter</li>
     <li>DT</li>
   </ul>
  </li>
  <li>Text Manipulation
  <ul>
    <li>HTMLtools</li>
    <li>glue</li>
  </ul></li>
  <li>Other
  <ul>
    <li><a href='https://walker-data.com/tidycensus/index.html' target='_blank'>tidycensus</a></li>
  </ul></li>
</ul>